<div class="col-sm-10">
  <h1>Delete Genre: Test</h1>
  <p>Do you really want to delete this Genre?</p>
  <form method="POST" action="">
      <!-- <div class="form-group">
          <input class="form-control" id="id" type="hidden" name="id" required="true" value="5b2a905f81bd503530893d26">
      </div> -->
      <button class="btn btn-primary" style='margin-right:16px' type="submit" (click)='DeleteGenre()'>Delete</button>
      <button class="btn btn-primary" type="submit" (click)='Cancel()'>Cancel</button>
  </form>
</div>
