<div class="col-sm-10" *ngIf='data'>
    <h1> Title: {{ data.book.title }}</h1>
    <p><strong>Author:</strong> <a href="/catalog/author/{{data.book.author._id}}"> {{data.book.author.family_name}}, {{data.book.author.first_name}}</a></p>
    <p><strong>Summary:</strong> {{data.book.summary}}</p>
    <p><strong>ISBN:</strong> {{data.book.isbn}}</p>
    <p>
      <strong>Genre:</strong> <span *ngFor='let item of data.book.genre'><a href="/catalog/genre/{{item._id}}"> {{item.name}}</a>, </span>
    </p>
    <div style="margin-left:20px;margin-top:20px;">
        <h4>Copies</h4>
        <span *ngIf='data.book_instances.length == 0'>
            There are no copies of this book in the library.
        </span>
        <hr>
        <span *ngFor="let item of data.book_instances">
            <p *ngIf='item.status == "Available"' class="text-success">{{item.status}}</p>
            <p *ngIf='item.status == "Maintenance"' class="text-danger">{{item.status}}</p>
            <p *ngIf='item.status == "Loaned"' class="text-warning">{{item.status}}</p>
            <p><strong>Imprint:</strong> {{item.imprint}}</p>
            <p *ngIf='item.status != "Available" '><strong>Due back:</strong> {{item.due_back | date}}</p>
            <p><strong>Id:</strong> <a href="/catalog/bookinstance/{{item._id}}"> {{item._id}}</a></p>
            <hr>
        </span>
    </div>
    <hr>
    <p><a href="/catalog/book/{{data.book._id}}/delete">Delete Book</a></p>
    <p><a href="/catalog/book/{{data.book._id}}/update">Update Book</a></p>
</div>
